{% extends 'layout.jinja2' %}

{% block content %}
    <h1>Irrigation Log</h1>
    <h2>This is just a landing page...</h2>
    <p>Use the REST API documentation to create applications that use the application resources</p>
{% endblock content %}