<!DOCTYPE html>

<html lang="en">
    <head>
        {% block head %}
            {% block meta_default %}
                <meta charset="UTF-8">
                <meta http-equiv="x-ua-compatible" content="IE=Edge">
                <meta name="description" content="Orchard Irrigation Log">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <!-- add a manifrest file! -->
            {% endblock meta_default %}
            <title>{% block title %}{% endblock title %}</title>
            {% block meta_safari %}
                <!-- icons for safari -->
            {% endblock meta_safari %}
            {% block meta_chrome %}
                <!-- icons for chrome -->
            {% endblock meta_chrome %}
            {% block meta_win %}
                <!-- icons for win -->
            {% endblock meta_win %}
            <meta name="theme-color" content="#2F3BA2">

            {% block styles %}
                <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
                <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.green-amber.min.css">
                <link rel="stylesheet" href="{{ 'waterapp:static/css/main.css'| static_url }}">
            {% endblock styles %}
        {% endblock head %}
    </head>

    <body>
        {% block body %}
            {% block content %}

            {% endblock content %}
        {% block scripts %}
                <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
                <!--<script src="waterapp:static/js/main.js"></script>-->
        {% endblock %}
    </body>
    {% endblock body %}
</html>